{% for source in _unixodbc_cfg_sources %}
[{{ source.source_name }}]
driver = {{ source.driver_file }}
{%   if source.tracefile is defined and source.tracefile != none %}
trace = on
tracefile = {{ source.tracefile }}
{%   endif %}
{%   if source.driver_properties is defined and source.driver_properties != none %}
{%     for property, value in source.driver_properties.iteritems() %}
{{ property }} = {{ value }}
{%     endfor %}
{%   endif %}

{% endfor %}
